$types: ('Normal', 'Fighting', 'Flying', 'Poison', 'Ground', 'Rock', 'Bug', 'Ghost', 'Steel', 'Fire', 'Water', 'Grass', 'Electric', 'Psychic', 'Ice', 'Dragon', 'Dark', 'Fairy');

:root {
  --iv-percentage: 100;
  --sprite-url: url('img/sprite.png');
  --sprite-grid-col: 25;
  --sprite-grid-row: 16;
  --pm-col: 0;
  --pm-row: 0;
  --img-size: 80px;
}

.workspace {
  margin: 0 auto;
  padding: 1vmin;
}

.pmIV {
  &::before {
    content: counter(iv-percentage) '%';
    counter-reset: iv-percentage var(--iv-percentage);
  }
}

.pmList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  grid-gap: 2vmin 1vmin;
  list-style: none;
}

.pm {
  position: relative;
  padding-top: 1em;
  transition: transform .3s;

  &:hover {
    * {
      opacity: unset;
    }
  }
}

.pm_img {
  width: var(--img-size);
  height: var(--img-size);
  margin: 0 auto;
  background-image: var(--sprite-url);
  background-size:
    calc(var(--sprite-grid-col) * var(--img-size))
    calc(var(--sprite-grid-row) * var(--img-size));
  background-repeat: no-repeat;
  background-position:
    calc(var(--pm-col) * var(--img-size) * -1)
    calc(var(--pm-row) * var(--img-size) * -1);
  transition: opacity .3s;
  opacity: .3;
}

.pm_cp {
  position: absolute;
  top: 0;
  left: 0;

  &::before {
    content: counter(cp);
    counter-reset: cp var(--pm-cp) hp var(--pm-hp);
    font-size: larger;
    font-family: monospace;
    font: 100 calc(1em + 2vmin) monospace;
  }
}

.pm_name {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: .5em;
  white-space: pre-wrap;
  text-align: right;
  font-size: smaller;
  color: rgba(#000, .75);
  opacity: .3;

  &::after {
    content: '\A#' attr(data-podex) ' ';
  }
}

.pm_info {
  white-space: pre-line;
  font-family: monospace;
  text-align: right;
  color: rgba(#000, .3);
  opacity: .5;

  &::after {
    position: absolute;
    right: 0;
    bottom: 0;
    content: attr(data-atk) ' A'
        '\A' attr(data-def) ' D'
        '\A' attr(data-sta) ' S';
  }
}

.pm_types {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  opacity: .5;

  .pm:hover & {
    opacity: 1;
  }
}

.pm_type {
  width: 1rem;
  height: 1rem;
  margin-right: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;

  @for $i from 1 through length($types) {
    &--#{nth($types, $i)} {
      background-image: url('img/Badge_Type_#{nth($types, $i)}_01.png');
    }
  }
}

// reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
