.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.dialog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(#000, .25);
}

.dialog-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: calc(17rem + 10vw);
  max-height: 85vh;
  margin: auto;
  padding: 0 3vw;
  background-color: #fff;
  font-family: monospace;
  font-size: larger;
  overflow: auto;

  &[aria-hidden="true"] {
    display: none;
  }

  summary:not(.no-sticky),
  .caption {
    position: sticky;
    top: 0;
    z-index: 1;
    font-size: smaller;
    height: 1.5em;
    margin-bottom: .5em;
    background-color: #fff;
    box-shadow: 0 -3px #fff;
  }


  details details summary {
    margin-left: 1em;
    margin-right: 1em;
    background-color: #eef;
  }

  .no-sticky {
    margin-bottom: 1em;
    font-size: smaller;
  }

  .caption {
    visibility: hidden;
    text-align: center;
  }

  .thead {
    position: sticky;
    top: 1.2em;
    margin-bottom: 5px;
    padding-top: .3em;
    font-size: smaller;
    font-weight: 900;
    border-bottom: 1px dotted;
    background-color: #ffe;
  }

  .tr {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 2px;
    text-align: center;

    &:hover {
      background-color: #eee;
    }

    &:nth-of-type(3n) {
      margin-bottom: 10px;
    }

    .td-CP {
      width: 3rem;

      // hide Lv indicator of CP when there is just one Lv.
      &:only-of-type::after {
        display: none;
      }

      // there is no more space of "HP" when there are multi Lv
      + .td-CP ~ .td-HP {
        display: none;
      }
    }

    .td-IV,
    .td-HP {
      width: 2.5rem;
    }
  }

  .td {
    width: 2rem;
    padding: 1px 5px;
  }

  .th.td-CP:after {
    content: attr(data-lv);
    font-size: 12px;
    font-weight: 100;
    transform-origin: 50% 0;
    transform: scale(.75);
    position: absolute;
  }

  .dialog__closeBtn {
    position: fixed;
    top: 5vh;
    right: 2vw;
    font-size: calc(1rem + 4vw);
  }

  .lv-cp__iv100 {
    .thead,
    .tbody {
      columns: 2;
      column-gap: .5em;
      column-rule: dotted 1px #ccc;
    }

    .tr {
      &:nth-of-type(3n) {
        margin-bottom: unset;
      }

      &:nth-of-type(5n) {
        margin-bottom: 10px;
      }

      > div {
        width: 30%;
        color: lighten(#000, 70%);
        font-size: smaller;

        &:nth-of-type(1) {
          width: 20%;
        }

        &:nth-of-type(2) {
          width: 50%;
          color: #000;
          font-size: larger;
          font-weight: 900;
        }
      }
    }
  }

  details {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}

.lvs {
  label {
    position: relative;
    display: inline-block;
    width: 10%;
    margin: .5em 5%;
    cursor: pointer;
    font-size: smaller;
    text-align: center;
  }

  .lv {
    position: relative;
    display: block;
    padding: .25em .25em;
    background-color: rgba(#000, .03);
  }

  input {
    position: absolute;
    z-index: -1;
    display: unset;
    width: unset;
    pointer-events: none;
    visibility: hidden;

    &:checked + .lv {
      font-weight: 900;
      text-shadow: 1px 1px #999;
      box-shadow: 0 0 0 1px;
    }

    &:disabled + .lv {
      opacity: .3;
    }
  }
}
